body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/var1.jpg);
    background-size: cover;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4a4;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
  }
  
  .hostel {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .navbar {
    background-color: #333333d1;
    height: 45px;
    width: 100%;
    padding: 1rem 1rem 0.5rem;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0;
    left: 0;
}


.congrats{
  margin: 10px auto 10px;
  display: none;
  text-align: center;
  color: antiquewhite;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

